[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
aiofiles = "*"
pymongo = "*"
config-guiosoft = "*"
uvunicorn = "*"

[requires]
python_version = "3.8"
