[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
vulture = "*"

[packages]
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
pymongo = "*"
config-guiosoft = "*"
py3-validate-email = "*"
escoteiros-mappa = "*"
email-validator = "*"
cache-guiosoft = "*"

[requires]
python_version = "3.8"
